# Summary of Notebook
    Full set:  3421093
    Exported as pickle & saved as orders_ready_to_clean
    Memory: Reduced memory of original file
    Datatype:
        user_id & order_id = int32
    Null:
        days_since_prior_order has 206,209 missing values
    Duplicates:  No duplicates
    Statistics:
        order_number ranges from 0-100
        day_of_week ranges from 0-6
        hour_of_day_ordered ranges from 0-23
        days since prior order ranges from 0 to 30

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [3]:
#import csv customers dataframe
df_orders = pd.read_csv(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Original Data\orders.csv')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'))

In [4]:
#getting to know the dataframe
df_orders.shape

(3421083, 7)

In [5]:
#seeing the type of data and columns
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [6]:
#seeing the columns and data
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
#seeing the end of the columns and data
df_orders.tail()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [8]:
#renaming for consistency
df_orders.rename(columns={'order_dow': 'day_of_week_ordered', 'order_hour_of_day': 'hour_of_day_ordered'}, inplace=True)

In [9]:
#checking for chnage
df_orders.head()

,order_id,user_id,eval_set,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [10]:
#seeing info again
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   day_of_week_ordered     int64
 5   hour_of_day_ordered     int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [11]:
#seeing what kind of interger type is best
df_orders.describe()

,order_id,user_id,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [13]:
#changing datatype to reduce memory - datatype int16
df_orders[['order_number', 'day_of_week_ordered','hour_of_day_ordered']] = df_orders[['order_number', 'day_of_week_ordered','hour_of_day_ordered']].astype("int16")

In [14]:
#changing datatype to reduce memory - datatype int32
df_orders[['order_id','user_id']] = df_orders[['order_id','user_id']].astype("int32")

In [16]:
#changing datatype to reduce memory - datatype category
df_orders['eval_set'] = df_orders['eval_set'].astype('category')

In [17]:
#checking dataframe
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   eval_set                category
 3   order_number            int16
 4   day_of_week_ordered     int16
 5   hour_of_day_ordered     int16
 6   days_since_prior_order  float64
dtypes: category(1), float64(1), int16(3), int32(2)
memory usage: 75.0 MB

# Notes on memory change:

In [18]:
#seeing if any data is missing
df_orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
day_of_week_ordered            0
hour_of_day_ordered            0
days_since_prior_order    206209
dtype: int64

# Notes on null findings: days_since_prior order has 206,209 missing values

In [19]:
#looking for duplicates
(df_orders.duplicated().value_counts())

False    3421083
dtype: int64

# Notes on duplicates: no duplicates

In [20]:
#exporting the file as a pickle
df_orders.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_ready_to_clean.pkl'))