# Summary of Notebook
    Full Set: 32434489
    Exported as pickle & saved as orders_prior_ready_to_clean
    Memory: Reduced memory of original file
    Datatype:
        order_id and product_id = int32
    Null: No null
    Duplicates: No duplicates
    Statistics:
        add _to_cart order ranged from 1 to 145
        reordered ranged from 0 to 1

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import csv customers dataframe
df_orders_prior = pd.read_csv(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Original Data\order_products_prior.csv')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'))

In [3]:
#getting to know the dataframe
df_orders_prior.shape

(32434489, 4)

In [5]:
#seeing the type of data and columns
df_orders_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [7]:
#seeing the columns and data
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
#seeing the end of the columns and data
df_orders_prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [9]:
#seeing info again
df_orders_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [17]:
#seeing what kind of interger type is best
df_orders_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [18]:
df_orders_prior[['add_to_cart_order', 'reordered']] = df_orders_prior[['add_to_cart_order', 'reordered']].astype("int16")

In [19]:
#changing datatype to reduce memory - datatype int32
df_orders_prior[['order_id', 'product_id']] = df_orders_prior[['order_id', 'product_id']].astype("int32")

In [20]:
#checking dataframe
df_orders_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int16
 3   reordered          int16
dtypes: int16(2), int32(2)
memory usage: 371.2 MB

# Notes on memory change: Reduced memory usage

In [21]:
#seeing if any data is missing
df_orders_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

# Notes on null findings: No null information

In [23]:
#looking for duplicates
df_orders_prior.duplicated().value_counts()

False    32434489
dtype: int64

# Notes on duplicates: No duplicates

In [24]:
#exporting the file as a pickle
df_orders_prior.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prior_ready_to_clean.pkl'))