# Summary of Notebook
    This is the active customers dataframe with all the information within the dataframe: These customers had more than a max order >5
    It pulled through with the correct number of rows
    Double checked the memory: 2.6 GB
    No null values
    No duplicate rows
    I was unable to run EDA packages because my computer didn't have enough memory, so I used describe to see how this dataset is like with only the active customers
        notes
            day_of_week_ordered ranges from 0-6
            hour_of_day_ordered ranges from 0 -23
            days_since_prior_order ranges from 0 - 30
            add_to_cart_order ranges from 1 to 145 (I had checked this previously and yes, some customers had large orders)
            reordered ranges from 0-1 (this is correct - those are the only options)
            aisle_id ranges from 1 to 134
            department_id ranges from 1-21
            price ranges from 1 to 25
            age ranges from 18 to 81
            dependents ranges from 0 to 3
            income ranges from 25903 to 593901
            max_order ranges from 6 to 99
            total_spent ranges from 6 to 25792.9
            median_days_prior_ord ranges from 0 to 30

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import csv customers dataframe
df_active = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\04 Analysis\active_all_plus_regions.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_active = pd.read_pickle(os.path.join(path, '04 Analysis', 'active_all_plus_regions.pkl'))

In [3]:
df_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28669841 entries, 0 to 30330083
Data columns (total 30 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  price                   float64
 13  gender                  category
 14  state                   category
 15  age                     int16
 16  date_joined             datetime64[ns]
 17  dependents              int16
 18  living_situation        category
 19  income                  int32
 20  price_range_loc         category
 21  busiest_day             category
 22  busiest_period_of_day   category
 23  max_order               int16
 24  loyalty_flag            category
 25  total_spent             float64
 26  spender_flag            category
 27  median_days_prior_ord   float64
 28  frequency_flag          category
 29  region                  category
dtypes: category(11), datetime64[ns](1), float64(4), int16(10), int32(4)
memory usage: 2.6 GB

In [4]:
#no data should be missing
df_active.isnull().sum()

order_id                  0
user_id                   0
order_number              0
day_of_week_ordered       0
hour_of_day_ordered       0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
product_name              0
aisle_id                  0
department_id             0
price                     0
gender                    0
state                     0
age                       0
date_joined               0
dependents                0
living_situation          0
income                    0
price_range_loc           0
busiest_day               0
busiest_period_of_day     0
max_order                 0
loyalty_flag              0
total_spent               0
spender_flag              0
median_days_prior_ord     0
frequency_flag            0
region                    0
dtype: int64

In [5]:
#should be no duplicates
(df_active.duplicated().value_counts())

False    28669841
dtype: int64

In [6]:
df_active.describe()

,order_id,user_id,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,price,age,dependents,income,max_order,total_spent,median_days_prior_ord
count,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07,2.866984e+07
mean,1.710185e+06,1.029130e+05,1.912675e+01,2.743767e+00,1.339469e+01,1.063353e+01,2.559440e+04,8.363419e+00,6.461725e-01,7.118210e+01,9.925198e+00,7.789699e+00,4.946826e+01,1.502064e+00,9.980209e+04,3.594519e+01,3.462216e+03,9.529382e+00
std,9.873623e+05,5.945529e+04,1.769805e+01,2.086497e+00,4.249367e+00,8.455106e+00,1.407859e+04,7.139938e+00,4.781565e-01,3.822571e+01,6.282994e+00,4.239642e+00,1.848714e+01,1.118989e+00,4.321236e+04,2.483737e+01,2.918763e+03,6.254672e+00
min,2.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.800000e+01,0.000000e+00,2.590300e+04,6.000000e+00,6.000000e+00,0.000000e+00
25%,8.553550e+05,5.141600e+04,6.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354100e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,3.300000e+01,1.000000e+00,6.744000e+04,1.600000e+01,1.287900e+03,6.000000e+00
50%,1.710063e+06,1.025550e+05,1.300000e+01,3.000000e+00,1.300000e+01,7.000000e+00,2.526600e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,4.900000e+01,2.000000e+00,9.683200e+04,3.000000e+01,2.608500e+03,7.000000e+00
75%,2.565173e+06,1.543410e+05,2.600000e+01,5.000000e+00,1.600000e+01,1.400000e+01,3.794000e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,6.500000e+01,3.000000e+00,1.281600e+05,5.000000e+01,4.834700e+03,1.200000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01,8.100000e+01,3.000000e+00,5.939010e+05,9.900000e+01,2.579290e+04,3.000000e+01

# notes
    day_of_week_ordered ranges from 0-6
    hour_of_day_ordered ranges from 0 -23
    days_since_prior_order ranges from 0 - 30
    add_to_cart_order ranges from 1 to 145 (I had checked this previously and yes, some customers had large orders)
    reordered ranges from 0-1 (this is correct - those are the only options)
    aisle_id ranges from 1 to 134
    department_id ranges from 1-21
    price ranges from 1 to 25
    age ranges from 18 to 81
    dependents ranges from 0 to 3
    income ranges from 25903 to 593901
    max_order ranges from 6 to 99
    total_spent ranges from 6 to 25792.9
    median_days_prior_ord ranges from 0 to 30