# Summary of Notebook
    used a crosstab command to better understand the missing days_since_prior_orders: result: first orders all had 0 days since prior order. It seems to make sense that the days_since_prior_order having missing data = first time orders.
        Exported the one-time customer as pickle with 206209 rows
        Saved as one_time_purchase.pkl
    order_id and user_id both = int32 datatype
    Dropped the missing values from original dataframe
    Dropped eval_set column from dataframe
    Exported as pickle with 3214874 rows
    Saved as orders_cleaned.pkl

# Summary of Previous Notebook
    Dataframe exported with 3421083 rows
    Dataframe exported as pickle
    Saved as: orders_ready_to_clean.pkl
    Renamed variables for clarity
    order_id & user_id = int32
    Changed datatype to conserve memory
    Used dataprep to analyze orders dataframe
    Missing data: days_since_prior_order is missing 206,209 times (6.03% missing for the variable)
    No duplicate rows
    user_id: approximately 6% is unique. These unique matches the missing which = one time order
    eval_set = prior, train, test. 94% = prior
    order_number ranges from 1 to 100
    day_of_week_ordered seen in dataprep as a categorical versus int16, so had to view that differently
    hour_of_day_ordered ranges from 0 to 23
    days_since_prior_order ranges from 0 to 30; 0 & .6 days totals to 6.25% of the variable count
    no correlations seen
    using describe: day_of_week_ordered ranges from 0 to 6
    Included sweetviz as an output for visual as well

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import csv orders dataframe
df_orders = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Prepared Data\orders_ready_to_clean.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_ready_to_clean.pkl'))

In [3]:
#confirming full dataframe imported
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   eval_set                category
 3   order_number            int16
 4   day_of_week_ordered     int16
 5   hour_of_day_ordered     int16
 6   days_since_prior_order  float64
dtypes: category(1), float64(1), int16(3), int32(2)
memory usage: 75.0 MB

#imported dataframe matches

In [4]:
#days_since_prior_order is missing 206,209 times - figuring out why. I assume it is due to customers only placing one order in the system
crosstab = pd.crosstab(df_orders['days_since_prior_order'], df_orders['order_number'], dropna = False)

In [5]:
crosstab.to_clipboard()

#when I looked at the data in Excel, choosing "filter" for the column of 1 order (which = first order), every row had 0 days since prior order, so the missing values are for one time orders

In [6]:
# learning the one time only customers
null_data = df_orders[df_orders.isnull().any(axis=1)]

In [7]:
#checking the dataframe head
null_data.head()

,order_id,user_id,eval_set,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN

In [8]:
#double checking that it has the correct number of rows
null_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206209 entries, 0 to 3421069
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                206209 non-null  int32
 1   user_id                 206209 non-null  int32
 2   eval_set                206209 non-null  category
 3   order_number            206209 non-null  int16
 4   day_of_week_ordered     206209 non-null  int16
 5   hour_of_day_ordered     206209 non-null  int16
 6   days_since_prior_order  0 non-null       float64
dtypes: category(1), float64(1), int16(3), int32(2)
memory usage: 6.1 MB

In [9]:
#exporting the one time only purchasers in case a comparison is needed
#exporting the file as a pickle
null_data.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'one_time_purchase.pkl'))

In [11]:
#dropping the rows with missing values for days_since_prior_order
df_orders = df_orders.dropna()

In [12]:
#dropping eval_set
df_orders = df_orders.drop('eval_set', 1)

C:\Users\Selena\AppData\Local\Temp/ipykernel_2660/2388869477.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_orders = df_orders.drop('eval_set', 1)

In [13]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3214874 entries, 1 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
dtypes: float64(1), int16(3), int32(2)
memory usage: 92.0 MB

In [14]:
#exporting the file as a pickle
df_orders.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_cleaned.pkl'))