# Summary of Notebook
    Checked the very large orders with >100 add_add_to_cart_order: seemed legit
    Dataframe 32434489
    Exported as pickle
    Saved as orders_prior_clean.pkl

# Summary of Previous Notebook
    Dataframe rows: 32434489
    Exported as pickle & saved as orders_prior_ready_to_clean
    Changed the datatypes to conserve memory
    order_id & product_id datatype = int32
    No duplicates
    No missing values
    10% of order_id are distinct: one item orders
    product_id: range 1 to 49,677
    add_to_cart_order: range 1 to 145; there are orders with 131 to 145 add to card order - kind of suspicious
    reordered: range 0-1; 59% of the time an item was reordered

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import orders_prior_ready_to_clean dataframe
df_orders_prior = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Prepared Data\orders_prior_ready_to_clean.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders_prior = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prior_ready_to_clean.pkl'))

In [5]:
#checking import
df_orders_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int16
 3   reordered          int16
dtypes: int16(2), int32(2)
memory usage: 371.2 MB

#import matches

In [12]:
#trying to figure out the high add_to_cart_order rows
df_orders_prior.groupby(['order_id', 'product_id'])[['add_to_cart_order']].agg('count')

                     add_to_cart_order
order_id product_id
2        1819                        1
         9327                        1
         17794                       1
         28985                       1
         30035                       1
...                                ...
3421083  21162                       1
         24852                       1
         35211                       1
         39678                       1
         45309                       1

[32434489 rows x 1 columns]

In [13]:
df_orders_prior.value_counts()

order_id  product_id  add_to_cart_order  reordered
2         1819        8                  1            1
2280875   37027       4                  1            1
          28851       3                  1            1
          16518       1                  1            1
          16260       2                  1            1
                                                     ..
1141412   47209       1                  1            1
          45066       5                  0            1
          34126       10                 1            1
          32177       4                  1            1
3421083   45309       2                  0            1
Length: 32434489, dtype: int64

In [14]:
df_orders_prior.value_counts(['add_to_cart_order'])

add_to_cart_order
1                    3214874
2                    3058126
3                    2871133
4                    2664106
5                    2442025
                      ...
141                        1
142                        1
143                        1
144                        1
145                        1
Length: 145, dtype: int64

In [37]:
limit = 100

In [38]:
column_name = 'add_to_cart_order'

In [39]:
column = df_orders_prior['add_to_cart_order']

In [40]:
count = column[column > limit].count()

In [45]:
print('Count of add_to_cart_order > 100: ', count)

Count of add_to_cart_order > 100:  242

In [47]:
df_orders_prior['add_to_cart_order'].value_counts().sort_index(ascending = True).sort_values(ascending = True)

145          1
138          1
139          1
140          1
144          1
        ...
5      2442025
4      2664106
3      2871133
2      3058126
1      3214874
Name: add_to_cart_order, Length: 145, dtype: int64

In [51]:
df_orders_prior.loc[(df_orders_prior['add_to_cart_order'] > 100)]

          order_id  product_id  add_to_cart_order  reordered
580377       61355       26701                101          0
580378       61355       44238                102          0
580379       61355       21607                103          0
580380       61355       30727                104          0
580381       61355       27729                105          0
...            ...         ...                ...        ...
31363974   3308010       14242                111          1
31363975   3308010        5708                112          0
31363976   3308010       21019                113          1
31363977   3308010       13870                114          1
31363978   3308010       21137                115          1

[242 rows x 4 columns]

In [52]:
df_very_large = df_orders_prior.loc[(df_orders_prior['add_to_cart_order'] > 100)]

In [53]:
df_very_large.to_clipboard()

#I looked at the exported file and I can't believe there would be huge orders like that, but it appeared legit.

In [54]:
df_orders_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int16
 3   reordered          int16
dtypes: int16(2), int32(2)
memory usage: 371.2 MB

In [55]:
#exporting the file as a pickle
df_orders_prior.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prior_clean.pkl'))