# Summary of Notebook
    merged orders_cleaned with orders_prior_clean 
    performed an inner merge so only the order_id within both sets was merged together
    unable to compare what was lost from each dataframe because I had a memory error when attempting an outer join
    merged dataframe = 30356421
    exported dataframe as a pickle
    saved as: all_orders.pkl

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import orders_cleaned
df_orders = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Prepared Data\orders_cleaned.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.pkl'))

In [3]:
#checking the rows
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3214874 entries, 1 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
dtypes: float64(1), int16(3), int32(2)
memory usage: 92.0 MB

In [4]:
#import orders__prior_clean
df_orders__prior = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Prepared Data\orders_prior_clean.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders_prior = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_prior_clean.pkl'))

In [5]:
#checking the rows
df_orders_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int16
 3   reordered          int16
dtypes: int16(2), int32(2)
memory usage: 371.2 MB

In [22]:
#merging the dataframes
df_merged_orders = df_orders.merge(df_orders_prior, on = ('order_id'), indicator = True)

In [23]:
df_merged_orders.head()

,order_id,user_id,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [24]:
# checking the rows merged on order_id
df_merged_orders['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [25]:
df_merged_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30356421 entries, 0 to 30356420
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int16
 9   _merge                  category
dtypes: category(1), float64(1), int16(5), int32(3)
memory usage: 1.1 GB

#please note: I could not do an outer merge to check because my computer did not have enough memory

In [29]:
#seeing if any data is missing
df_merged_orders.isnull().sum()

order_id                  0
user_id                   0
order_number              0
day_of_week_ordered       0
hour_of_day_ordered       0
days_since_prior_order    0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
dtype: int64

In [33]:
#need to drop the _merge column
df_merged_orders = df_merged_orders.drop('_merge', axis=1)

In [35]:
df_merged_orders.head()

,order_id,user_id,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2398795,1,2,3,7,15.0,196,1,1
1,2398795,1,2,3,7,15.0,10258,2,0
2,2398795,1,2,3,7,15.0,12427,3,1
3,2398795,1,2,3,7,15.0,13176,4,0
4,2398795,1,2,3,7,15.0,26088,5,1

In [38]:
df_merged_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30356421 entries, 0 to 30356420
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int16
dtypes: float64(1), int16(5), int32(3)
memory usage: 1.1 GB

In [39]:
#exporting all orders as a pickle
df_merged_orders.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_orders.pkl'))