# Summary of Notebook
    left join orders_products_combined with cust_cleaned
    Data: 30330084 rows
    exported as pickle
    saved as orders_products_customers_combined.pkl

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import all_orders
df_orders = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_orders = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [3]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30330084 entries, 0 to 30330083
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  price                   float64
 13  _merge                  category
dtypes: category(2), float64(2), int16(7), int32(3)
memory usage: 1.6 GB

In [4]:
#import cust_cleaned dataframe
df_cust = pd.read_pickle(r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis\02 Data\Prepared Data\cust_cleaned.pkl')
path = r'C:\Users\Selena\Desktop\3-22 Instacart Basket Analysis'
df_cust = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'cust_cleaned.pkl'))

In [5]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           206209 non-null  int32
 1   gender            206209 non-null  category
 2   state             206209 non-null  category
 3   age               206209 non-null  int16
 4   date_joined       206209 non-null  datetime64[ns]
 5   dependents        206209 non-null  int16
 6   living_situation  206209 non-null  category
 7   income            206209 non-null  int32
dtypes: category(3), datetime64[ns](1), int16(2), int32(2)
memory usage: 4.5 MB

In [6]:
#need to drop the _merge column
df_orders = df_orders.drop('_merge', axis=1)

In [7]:
#merging the dataframes: left merge so each order has customer info
df_merged = df_orders.merge(df_cust, on = ('user_id'), how = 'left',indicator = True)

In [8]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30330084 entries, 0 to 30330083
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int16
 3   day_of_week_ordered     int16
 4   hour_of_day_ordered     int16
 5   days_since_prior_order  float64
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int16
 9   product_name            category
 10  aisle_id                int16
 11  department_id           int16
 12  price                   float64
 13  gender                  category
 14  state                   category
 15  age                     int16
 16  date_joined             datetime64[ns]
 17  dependents              int16
 18  living_situation        category
 19  income                  int32
 20  _merge                  category
dtypes: category(5), datetime64[ns](1), float64(2), int16(9), int32(4)
memory usage: 2.1 GB

In [9]:
#need to drop the _merge column
df_merged = df_merged.drop('_merge', axis=1)

In [10]:
df_merged.head()

,order_id,user_id,order_number,day_of_week_ordered,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,price,gender,state,age,date_joined,dependents,living_situation,income
0,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423
1,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423
2,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423
3,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423
4,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423

In [11]:
#exporting all orders as a pickle
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_combined.pkl'))